<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>GO</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>googlechromes</string>
		<string>comgooglemaps</string>
	</array>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>7a0be3200fac9cf30452b20b593972d5d39c2b22</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>GO needs location prermissions for a reliable bike ride and to improve pickups, navigation and support</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>GO needs location prermissions for a reliable bike ride and to improve pickups, navigation and support</string>
  <key>NSLocationWhenInUseUsageDescription</key>
  <string>GO needs location prermissions for a reliable bike ride and to improve pickups, navigation and support</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>GO requires microphone permissions in order to record your voice</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>GO requires photo library permission for taking images to improve your biking experience</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>GO requires photo library permission for taking images to improve your biking experience</string>
  <key>NSCameraUsageDescription</key>
  <string>This allows you to scan QR code on the bike, take photos from within the app (example kyc document images)</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1628198947422117</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1628198947422117</string>
	<key>FacebookDisplayName</key>
	<string>Wheelstreet GO</string>
</dict>
</plist>
